<section>
    <aside id="aside">
        <br>
        <div>
            On this page, it will shows the repos 
        </div>
        <br>
        <div>
            that open in previous.
        </div>
        <br>
        <div>
            This is just a demo.
        </div>
        <br>
        &nbsp;<img src='assets/demo.png' height="107.54" width="440">
        <br><br>
        &nbsp;<img src='assets/demo2.png' height="138.16" width="440">
    </aside>
    <button mat-raised-button (click)="showAside();flag=!flag">History</button> &nbsp;
    <a mat-raised-button href="https://oss-augur.readthedocs.io/en/dev/index.html" target="_blank">Link</a>
</section>